.track{
    height: auto;
    display: flex;
    justify-content: left;
    width: 75%;
    background-color: #646161;
    margin-bottom: 5px;
    /* background-color:lavender; */
    /* border-color: black; */

}

.track-image{
    background-color: #208420;
    height: 100px;
    width: 100px;
    /* border-style: solid; */
}

.track-name{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 45%;
    color: white;
    /* border-style: solid; */
    /* background-color: lightcoral;    */
}

.track-artist{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 45%;
    color: white;
    /* border-style: solid; */
    /* background-color: lightpink; */
}