.App {
  text-align: center;
}

.app-title{
  color: white;
}

body{
  background-color: #6d6b6b;
}

.album-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content:space-around; */
  /* background-color: beige; */
}

.app-container{

}